<h1>Hello</h1>


<p>{{pandaText | cutText:2000}}</p>


<button (click)="isCompact(true)">Compact</button>
<button (click)="isCompact(false)">Expand</button>


<app-news-item header="Angular est framework programmationis in linguam 'JavaScript'"
               content="Angular est framework programmationis in linguam 'JavaScript' (vel 'TypeScript') scriptum, adhibeturque ad structuram applicationum web. Angular auxilium praebet in creando 'single-page applications' (SPA), quae sunt paginæ singulæ cum contentu dynamicus mutabilis sine paginarum refreshmento. Angular notus est pro eius 'data-binding', 'dependency injection', et 'directive' facultatibus. Angular, a comitatu 'Google' elaboratum, in multis projectis technologicis et commercialibus per orbem terrarum utitur.">

</app-news-item>
<app-news-item header="Angular est framework programmationis in linguam 'JavaScript'"
               content="Angular est framework programmationis in linguam 'JavaScript' (vel 'TypeScript') scriptum, adhibeturque ad structuram applicationum web. Angular auxilium praebet in creando 'single-page applications' (SPA), quae sunt paginæ singulæ cum contentu dynamicus mutabilis sine paginarum refreshmento. Angular notus est pro eius 'data-binding', 'dependency injection', et 'directive' facultatibus. Angular, a comitatu 'Google' elaboratum, in multis projectis technologicis et commercialibus per orbem terrarum utitur.">

</app-news-item>

<app-thumbnail [fullWidth]="false" [hasBorder]="true" filename="pandas/walking.png"></app-thumbnail>

<app-thumbnail [fullWidth]="false" [hasBorder]="true" filename="pandas/eating.webp"></app-thumbnail>



<app-news-item header="Angular est framework programmationis in linguam 'JavaScript'"
               content="Angular est framework programmationis in linguam 'JavaScript' (vel 'TypeScript') scriptum, adhibeturque ad structuram applicationum web. Angular auxilium praebet in creando 'single-page applications' (SPA), quae sunt paginæ singulæ cum contentu dynamicus mutabilis sine paginarum refreshmento. Angular notus est pro eius 'data-binding', 'dependency injection', et 'directive' facultatibus. Angular, a comitatu 'Google' elaboratum, in multis projectis technologicis et commercialibus per orbem terrarum utitur.">

</app-news-item>

<app-recipe
  name="Äppelpaj"
  description="Sätt ugnen på 200 grader. Skölj äpplena och skär dem i tunna skivor"
  filename="recipe/applepaj.webp">

</app-recipe>
